
@{
    ViewBag.Title = "Favourites";
}


<section class="wish-list">
    <div class="wish-container">
        <div class="wish-header">
            <h4><i class="fa fa-heart" aria-hidden="true"></i> Favourites</h4>
        </div>
        <div class="wish-inner" id="wish-inner">
            <div class="wish-item" id="14">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                            <option value="">XL</option>
                            <option value="">XXL</option>
                            <option value="">XXXL</option>
                        </select>
                    </div>
                    <div class="add-basket-btn" data-id="14">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right">
                    <div class="wish-delete" data-id="14">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" id="2">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn" data-id="2">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="2">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" id="3">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product4.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn" data-id="3">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="3">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" id="4">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn" data-id="4">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="4">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="wish-item" data-id="1">
                <a href="/Pages/product-details.html">
                    <div class="wish-img">
                        <img src="/assets/product1.webp" alt="" />
                    </div>
                </a>
                <div class="wish-info">
                    <p title="Lorem, ipsum ritatis consectetur ritatis consectetur.">
                        Lorem, ipsum ritatis consectetur ritatis consectetur.
                    </p>
                    <span class="product-price">12.99$</span>
                </div>
                <div class="wish-bottom">
                    <div class="sizes">
                        <select name="" id="">
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                        </select>
                    </div>
                    <div class="add-basket-btn">
                        <i class="fa fa-cart-plus" aria-hidden="true">
                            <a> Add Basket</a>
                        </i>
                    </div>
                </div>

                <div class="head-left">
                    <span class="free-shipping">FREE SHIPPING</span>
                    <span class="fast-shipping">FAST SHIPPING</span>
                </div>
                <div class="head-right" id="1">
                    <div class="wish-delete">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
