<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/Styles/SCSS/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous" />

    <link rel="stylesheet"
          type="text/css"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />


    <title>@ViewBag.Title</title>
</head>

<body>
    <div id="top"></div>
    <!-- Notification Start-->
    <div class="notifications">
        <div class="notification-container">
            <div class="notification-success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <a>Successfully Added</a>
            </div>

            <div class="notification-login-success">
                <i class="fa fa-check-circle fa-shake" aria-hidden="true"></i>
                <a>Logged Successfully</a>
            </div>

            <div class="notification-error">
                <i class="fa fa-bomb fa-shake" aria-hidden="true"></i>
                <a>Something went Wrong!!</a>
            </div>

            <div class="notification-remove">
                <i class="fa fa-trash fa-shake" aria-hidden="true"></i>
                <a>Removed Successfully</a>
            </div>
        </div>
    </div>
    <!-- Notification End-->
    <div id="header">
        <a asp-action="index" asp-controller="home"> <img src="/assets/logo.png" alt="" /></a>
        <div class="search">
            <input type="search" />
            <i class="fa fa-search search-icon" aria-hidden="true"></i>
        </div>
        <div class="nav-head">
            @{
                if (!Context.User.Identity.IsAuthenticated)
                {
                    <a asp-action="login" asp-controller="account"><i class="fa fa-user icon" aria-hidden="true"></i>Login</a>
                }
                else
                {
                    <a title="@Context.User.Identity.Name" asp-action="logout" asp-controller="account"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
                }
            }
            <a asp-action="index" asp-controller="favourite"><i class="fa-regular fa-heart icon"></i>Favourites</a>

            @{
                if (Context.User.Identity.IsAuthenticated)
                {
                    <a id="basket">
                        <i class="fa fa-shopping-cart icon" aria-hidden="true"></i>Basket
                    </a>
                    <div id="basket-count"><span>99</span></div>
                }
            }

        </div>
    </div>
    <nav class="navbars" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a asp-action="index" asp-controller="home">
                <img class="navbar-brand-logo" src="/assets/logo.png" alt="" />
            </a>

            <a role="button"
               class="navbar-burger burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample"
             style="width: 100% !important"
             class="navbar-menu">
            <div class="navbar-end">
                <a asp-action="index"
                   asp-controller="home" class="navbar-item">
                    HOME
                </a>
                <a asp-action="index"
                   asp-controller="product" class="navbar-item">
                    PRODUCTS
                </a>
                <a asp-action="index" asp-controller="faq" class="navbar-item">
                    FAQ
                </a>


                <a asp-action="index" asp-controller="basket" class="burger-basket navbar-item">
                    SHOPPING CART
                </a>

                @* <div class="navbar-item has-dropdown is-hoverable" data-id="product">
                <a class="navbar-link">PRODUCTS </a>
                <div class="navbar-dropdown" id="product">
                <a asp-action="index"
                asp-controller="product"
                target="_blank"
                class="navbar-item">
                MEN
                </a>
                <a href="#" target="_blank" class="navbar-item"> WOMEN </a>
                <a href="#" target="_blank" class="navbar-item"> CHILD </a>
                </div>
                </div>*@

                <div class="navbar-item has-dropdown is-hoverable" data-id="about">
                    <a class="navbar-link"> ABOUT US </a>
                    <div class="navbar-dropdown" id="about">
                        <a asp-action="index" asp-controller="about" asp-fragment="whoweare"
                           target="_blank"
                           class="navbar-item">
                            WHO WE ARE
                        </a>
                        <a asp-action="index" asp-controller="about" asp-fragment="whatwedo"
                           target="_blank"
                           class="navbar-item">
                            WHAT WE DO
                        </a>
                        <a asp-action="index" asp-controller="about" asp-fragment="contact-info"
                           target="_blank"
                           class="navbar-item">CONTACT</a>
                    </div>
                </div>



            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer Start-->
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-items">
                <div class="footer-item">
                    <h4 class="footer-title" data-id="1">Payment Methods</h4>
                    <div class="collapsed-items" id="1">
                        <div class="collapsed-inner">
                            <div>
                                <a id="visa" href="/Pages/about.html">
                                    <img src="/assets/visa.svg" alt="" />
                                </a>
                                <a id="mastercard" href="">
                                    <img src="/assets/mastercard.svg" alt="" />
                                </a>
                            </div>
                            <div>
                                <a id="maximum-card" href="">
                                    <img src="/assets/maximum-new.svg" alt="" />
                                </a>
                                <a id="world-bank" href="">
                                    <img src="/assets/world-new.svg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="2">Mobile Applications</h4>
                    <div class="collapsed-items" id="2">
                        <div class="collapsed-inner">
                            <a href="https://www.apple.com/app-store/" tabindex="0">
                                <img class="bn46"
                                     src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                                     alt="bn45" />
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=com.google.android.play.games&hl=en&gl=US&pli=1"
                               tabindex="0">
                                <img class="bn45"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png"
                                     alt="bn45" />
                            </a>
                        </div>
                    </div>

                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="3">About Us</h4>
                    <div class="collapsed-items" id="3">
                        <div class="collapsed-inner">
                            <a asp-action="index" asp-controller="about" asp-fragment="business">Who we are</a>
                            <a asp-action="index" asp-controller="about" asp-fragment="whatwedo">What We Do</a>
                            <a asp-action="index" asp-controller="about" asp-fragment="contact-info">Contact Us</a>
                            <a asp-action="index" asp-controller="faq">FAQ</a>
                        </div>

                    </div>
                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="4">Social Media</h4>
                    <div class="collapsed-items" id="4">
                        <div class="collapsed-inner">
                            <a href="https://www.facebook.com/" id="facebook">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/" id="instagram">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/mirgubad-akbarov-191b32242/"
                               id="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>


                    </div>
                </div>

                <div class="footer-item">
                    <h4 class="footer-title" data-id="5">Contact Info</h4>
                    <div class="collapsed-items" id="5">
                        <div class="collapsed-inner">
                            <a href="">+994(55)222-21-11<i class="fa-solid fa-mobile"></i></a>
                            <a href="">+994(12)122-21-11 <i class="fa-solid fa-phone"></i></a>
                            <a href="">
                                example@gmail.com <i class="fa-solid fa-envelope"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer-rights">This site created By Mirgubad Akbarov</p>
    </footer>
    <!--Footer End-->
    <!-- Scroll To Top-->
    <a href="#top" id="to-top-btn">
        <svg width="20px"
             xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             stroke-width="2">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
    </a>
    <!-- Scroll To Top-->
    <!-- Mini Basket START-->
    <div class="mini-cart menu-open align-items-stretch align-content-stretch"
         id="CartDrawer">
        <div id="close-basket-btn">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="cart-item-list" id="cartItemList">
            <div class="cart-item border-bottom py-2">
                <a href="/products/vegan-leather-jacket-black?variant=31051674845249"
                   class="row">
                    <div class="cart-item--image col-3">
                        <img src="https://cdn.shopify.com/s/files/1/0029/4466/3598/products/H20OU0010018999B-01_Moon.jpg?v=1573576938"
                             alt="Embroidered logo faux leather jacket - H20OU0010018999B / Black / 40" />
                    </div>
                    <div class="cart-item--description d-flex flex-column justify-content-start col-6">
                        <h5 class="item-description--title fs-16 serif translatable">
                            <span class="visually-hidden">product title</span> Embroidered
                            logo faux leather jacket
                        </h5>
                        <p class="mb-0 text-secondary sans fs-14 fw-bold">x1</p>
                    </div>
                    <div class="cart-item--price col-3 text-right serif mono">
                        <span class="price">675,00€</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="cart-item border-bottom py-2">
                <a class="row">
                    <div class="cart-item--image col-3">
                        <img src="https://cdn.shopify.com/s/files/1/0029/4466/3598/products/H20JW0111000299G-01_Lea.jpg?v=1573576937"
                             alt="Circular Dress - Sienna Riddle Print - H20DR00100065012 / Sienna Riddle Print / 38" />
                    </div>
                    <div class="cart-item--description d-flex flex-column justify-content-start col-6">
                        <h5 class="item-description--title fs-16 serif translatable">
                            <span class="visually-hidden">product title</span> Circular
                            Dress - Sienna Riddle Print
                        </h5>
                        <p class="mb-0 text-secondary sans fs-14 fw-bold">x1</p>
                    </div>
                    <div class="cart-item--price col-3 text-right serif mono">
                        <span class="price">750,00€</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="cart-item border-bottom py-2">
                <a class="row">
                    <div class="cart-item--image col-3">
                        <img src="https://cdn.shopify.com/s/files/1/0029/4466/3598/products/H20JW0111000299G-01_Lea.jpg?v=1573576937"
                             alt="Circular brass and pearl earrings - H20JW0111000299G / Gold / TU" />
                    </div>
                    <div class="cart-item--description d-flex flex-column justify-content-start col-6">
                        <h5 class="item-description--title fs-16 serif translatable">
                            <span class="visually-hidden">product title</span> Circular
                            brass and pearl earrings
                        </h5>
                        <p class="mb-0 text-secondary sans fs-14 fw-bold">x1</p>
                    </div>
                    <div class="cart-item--price col-3 text-right serif mono">
                        <span class="price">350,00€</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="cart-item border-bottom py-2">
                <a class="row">
                    <div class="cart-item--image col-3">
                        <img src="https://cdn.shopify.com/s/files/1/0029/4466/3598/products/H20JW0111000299G-01_Lea.jpg?v=1573576937"
                             alt="Circular Dress - Sienna Riddle Print - H20DR00100065012 / Sienna Riddle Print / 38" />
                    </div>
                    <div class="cart-item--description d-flex flex-column justify-content-start col-6">
                        <h5 class="item-description--title fs-16 serif translatable">
                            <span class="visually-hidden">product title</span> Circular
                            Dress - Sienna Riddle Print
                        </h5>

                        <p class="mb-0 text-secondary sans fs-14 fw-bold">x1</p>
                    </div>
                    <div class="cart-item--price col-3 text-right serif mono">
                        <span class="price">750,00€</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="cart-item border-bottom py-2">
                <a class="row">
                    <div class="cart-item--image col-3">
                        <img src="https://cdn.shopify.com/s/files/1/0029/4466/3598/products/H20JW0111000299G-01_Lea.jpg?v=1573576937"
                             alt="Circular brass and pearl earrings - H20JW0111000299G / Gold / TU" />
                    </div>
                    <div class="cart-item--description d-flex flex-column justify-content-start col-6">
                        <h5 class="item-description--title fs-16 serif translatable">
                            <span class="visually-hidden">product title</span> Circular
                            brass and pearl earrings
                        </h5>

                        <p class="mb-0 text-secondary sans fs-14 fw-bold">x1</p>
                    </div>
                    <div class="cart-item--price col-3 text-right serif mono">
                        <span class="price">350,00€</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="cart-info">
            <div class="cart-subtotals border-top border-bottom pt-2 pb-1">
                <div class="cart-subtotals--row d-flex justify-content-between w-100">
                    <p class="sans fs-14">Subtotal</p>
                    <span class="price serif mono" data-drawer-subtotal="">1.775,00€</span>
                </div>
                <div class="cart-subtotals--row d-flex justify-content-between w-100">
                    <p class="sans fs-14">Shipping</p>
                    <span class="text-secondary sans fs-14">Calculated at the next step</span>
                </div>
            </div>
            <div class="cart-totals pt-2">
                <div class="cart-totals--row d-flex justify-content-between w-100">
                    <p class="serif">Total</p>
                    <span class="price serif mono" data-drawer-total="">1.775,00€</span>
                </div>
                <div class="cart-totals--row">
                    <p class="mb-0 text-secondary sans fs-14">
                        <span class="fs-14 tk-brandon-grotesque text-secondary">Taxes 183,33€ included</span>
                    </p>
                </div>
            </div>
            <div class="cart-buttons d-flex justify-content-between align-items-center pt-1">
                <a asp-action="index" asp-controller="basket"
                   class="btn btn-underline-primary sans fs-14">View bag</a>
                <a class="text-uppercase fs-12 tk-brandon-grotesque btn btn-primary btn-xs-block"
                   id="drawerCheckoutButton">Checkout</a>
            </div>
        </div>
    </div>



    <!-- Mini Basket END-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"
            integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="~/assets/Scripts/basket.js"></script>
    <script src="~/assets/Scripts/navbar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>